<div class="tab-pane {{#if isActive}}active{{/if}}" id="{{id}}">
    <h3>{{heading}}</h3>
    <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Alias</th>
            <th>Position</th>
            <th>Dream Team</th>
            <th>50 Greatest</th>
            <th>MVP count</th>
            <th>All Star</th>
            <th>Currently in NBA</th>
            <th>HOF year</th>
        </tr>
        </thead>
        <tbody>
        {{#each items}}
        <tr>
            <td>{{counter @index}}</td>
            <td>{{name}}</td>
            <td>{{aliases}}</td>
            <td>{{position}}</td>
            <td {{#if isOnDreamTeam}} class="dreamTeam" {{/if}}>{{#if isOnDreamTeam}}Yes{{/if}}</td>
            <td {{#if isOnFiftyGreatesList}} class="fiftyGreatest" {{/if}}>{{#if isOnFiftyGreatesList}}Yes{{/if}}</td>
            <td {{#if numberOfTimesMvp}} class="mvp" {{/if}}>{{numberOfTimesMvp}}</td>
            <td {{#if allStarAppearanceCount}} 
                    class="asg" 
                    title="Selections: {{allStarAppearanceYears}}
{{#if allStarAppearanceNotes}}Notes: {{allStarAppearanceNotes}}{{/if}}"
                {{/if}}>
                {{allStarAppearanceCount}}
            </td>
            <td {{#if currentlyInNba}} class="currentlyInNba" {{/if}}>{{#if currentlyInNba}}Yes{{/if}}</td>
            <td {{#if yearInductedInHof}} class="hof" {{/if}}>{{yearInductedInHof}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
</div>