<div class="tab-pane {{#if isActive}}active{{/if}}" id="{{domId}}">
    <h3>{{heading}}</h3>
    {{#if wikipediaUrlSegment}}
        <p>Source: <a href="https://en.wikipedia.org/wiki/{{wikipediaUrlSegment}}" target="_blank">Wikipedia: {{wikipediaUrlSegment}}</a></p>
    {{/if}}
    <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th colspan="9"></th>
            <th colspan="3">All-NBA Team</th>
            <th></th>
        </tr>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Alias</th>
            <th>Position</th>
            <th>Dream Team</th>
            <th>50 Greatest</th>
            <th>MVP count</th>
            <th>Finals MVP count</th>
            <th>All-Star</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
            <th>Currently in NBA
                or HOF year</th>
        </tr>
        </thead>
        <tbody>
        {{#each items}}
        <tr>
            <td>{{counter @index}}</td>
            <td>{{name}}</td>
            <td>{{aliases}}</td>
            <td>{{position}}</td>
            <td {{#if isOnDreamTeam}} class="dreamTeam" {{/if}}>{{#if isOnDreamTeam}}Yes{{/if}}</td>
            <td {{#if isOnFiftyGreatesList}} class="fiftyGreatest" {{/if}}>{{#if isOnFiftyGreatesList}}Yes{{/if}}</td>
            <td {{#if numberOfTimesMvp}} 
                    class="mvp" 
                    title="Seasons: {{#each mvpSeasons}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}"
                    {{/if}}>{{numberOfTimesMvp}}</td>
            <td {{#if numberOfTimesFinalsMvp}} 
                    class="finalsMvp" 
                    title="Years: {{#each finalsMvpYears}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}"
                    {{/if}}>{{numberOfTimesFinalsMvp}}</td>
            <td {{#if allStarAppearanceCount}} 
                    class="asg" 
                    title="Selections: {{allStarAppearanceYears}}
{{#if allStarAppearanceNotes}}Notes: {{allStarAppearanceNotes}}{{/if}}"
                    {{/if}}>
                {{allStarAppearanceCount}}
            </td>
            <td>{{numberOfTimesAllNbaFirstTeam}}</td>
            <td>{{numberOfTimesAllNbaSecondTeam}}</td>
            <td>{{numberOfTimesAllNbaThirdTeam}}</td>
            <td {{#if currentlyInNba}} class="currentlyInNba" {{/if}}
                {{#if yearInductedInHof}} class="hof" {{/if}}>
                {{#if currentlyInNba}}Currently in NBA{{/if}}
                {{#if yearInductedInHof}}HOF: {{yearInductedInHof}}{{/if}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
</div>