<li class="{{#if isActive}}active{{/if}}">
    <a href="#{{domId}}" data-toggle="tab" 
        data-urlsegment="{{urlSegment}}"
        data-heading="{{heading}}"
        data-sourceurl="{{sourceUrl}}"
        data-havedata="false">{{tabHeading}}</a>
</li>